{% extends 'DiveFrontBundle::layout.html.twig' %}
{% block content %}
{% spaceless %}

<div id="search" class="blackbox">

	<div class="row">
		<input type="text" placeholder="Start exploring!" id="search-field" />
		<div id="search-cross"></div>
		<div id="suggestions"></div>

	</div>

	<div class="row entity-Search">
		<div id="search-filter"></div>
	</div>
</div>

<div id="browser" class="blackbox">

</div>

<div id="gallery" class="clearfix blackbox">
	<div id="main-ghost"></div>
	<!--<span class="leaderboard">
               	<table id="leaderboard">
			<tr><th>Pos.</th><th>Username</th><th>Score</th></tr>
			<tr><td>1</td><td>user123</td><td>897</td></tr>
			<tr><td>2</td><td>user456</td><td>631</td></tr>
			<tr><td>3</td><td>user789</td><td>429</td></tr>
			<tr><td id="myScore">21</td><td id="myScore">my_username</td><td id="myScore">112</td></tr>

		</table>
        </span>-->


</div>

<div id="popup">
	<h1 class="title">
	</h1>
	<div class="body">
	</div>
	<div class="buttons">
	</div>
</div>



{% include 'DiveFrontBundle:General:help.html.twig' %}
{% endspaceless %}
{% endblock %}
