<h2>{{ user.name }}</h2>
<h3>Thank you for signing up to DIVE! To activate your account, please follow the instructions that have been sent to your e-mail: {{ user.email }}</h3>
<button class="logout">GO TO LOGIN</button>