{% if error %}
    <div class="error">{{ error.message }}</div>
{% endif %}
<form name="form" id="user-signup" method="post" action="{{ path('dive_front_user_signup') }}">
{{ form_rest(form) }}
</form>