
/* PAGE */

html{
	/*background-color: #252a32;*/
}

body{
	background-color: black;
	padding: 0px;
	margin: 0px;
	font-family: 'RobotoCondensed', 'Arial','sans';
	font-size: 14px;
	line-height: 18px;
	border-top: 45px solid transparent;
	/*background-image: url('../img/water/lely.jpg');*/
	background-size: cover;
}

.touch-support #content{
	padding-top: 23px;
}

.blackbox{
	/*background-color : rgba(37,42,50,0.95); */
}

.leaderboard{
display:block;
float:left;
max-width: 200px;
padding: 10px;
margin-left:20%;
}

.leaderboard th{
padding-right: 20px;
padding-left: 20px;
font-weight: bold;
color: white;
border: 1px solid;
}

.leaderboard td{
padding: 0 28px 0 28px;
}

.leaderboard #myScore{
font-weight: bold;
border-top: 1px solid white;
padding: 0 25px 0 25px;
}


a, a:visited{
	/*text-decoration: none;*/
}

#content{
	min-height: 100%;
	position: relative;
	margin-top:30px;
}

a{
	color: white;
}

h1{
	font-weight: bold;
	font-size: 1.4em;
	margin: 0px 10px;
	text-transform: uppercase;
}
h2{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	margin: 5px 0px;
}

p{
	line-height: 1.34em;
}

/* FLASH MESSAGES */

#flash_messages{
	padding-top: 0px;
	max-width: 1340px;
	margin: 0px auto;
	color: #fff;
}

.alert{
	padding: 10px;
	cursor: pointer;
}

.alert-info{
	border-bottom: 2px solid #5cbc56;
}

.alert:hover{
	background-color: rgba(255,255,255,0.2);
}

/* TOP BAR */

#topbar{
	height: 45px;
	width: 100%;
	position:fixed;
	top:0px;
	left: 0px;
	background-color: black; /*rgba(37,42,50,0.9); [#252a32;] */
	z-index: 99999;
	box-shadow: 0px 0px 10px black;
}
.colorbar{
position:fixed;
width: 100%;
z-index:10;
opacity: .8;
}

.colors{
width:25%;
height:10px;
float:left;
}

.colors#red{
background-color: #e64c65;
}

.colors#lightblue{
background-color: #4fc4f6;
}
.colors#yellow{
background-color: #fcb150;
}

.colors#darkblue{
background-color: #11a8ab;
}


.touch-support #topbar{
	border-top: 23px solid rgba(0,0,0,0.9);
}

#log{
	color: #fee;
	margin-left: 110px;
	margin-top: 15px;
}

#logo{
	height: 22px;
	position: absolute;
	padding: 12px;
	cursor: pointer;
}


#topbar .button{
	bottom: 0px;
	width: 80px;
	height: 43px;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center center;
	border-left: 1px solid rgba(255,255,255,0.2);
	cursor: pointer;
}

#help-button{
	right: 0px;
	background-image: url('../img/icon-help.png');
	background-size: 36px;
	border-bottom: 2px solid rgba(255,255,255,0.3);
}

#collections-button{
	right: 164px;
	background-image: url('../img/icon-collections-top.png');
	background-size: 39px;
	border-bottom: 2px solid #5cbc56;
	border-left: 1px solid rgba(255,255,255,0.2);
	display: none;
}

#user-button{
	right: 82px;
	background-image: url('../img/icon-user-top.png');
	background-size: 20px;
	border-bottom: 2px solid #32b5c3;
	border-left: 1px solid rgba(255,255,255,0.2);
}

#topbar .button:hover{
	background-color: rgba(255,255,255,0.05);
}

/* help */

#help{
	display: none;
	z-index:999999999;
	position:fixed;
	top: 45px;
	left: 0px;
	min-width: 100%;
	max-height: calc(100% - 45px);
	background-color: rgba(18,21,25,0.9);
	color: white;
	overflow-y: auto;
}

.touch-support #help{
	top: 68px;
}

#help p, #help ul{
	width: 60%;
	max-width: 700px;
	min-width: 400px;
	margin: 10px 0px;
}

.scroll-body{
	margin: 40px;
}

.top-menu{
	position:fixed;
	background-color: rgba(37,42,50,0.9);
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	padding-bottom: 20px;
	top: 45px;
	right: 0px;
	width: 260px;
	z-index: 9999;
	box-shadow: 0px 0px 10px black;
	padding: 10px;
	display: none;
}

/* user menu */

.touch-support .top-menu{
	top: 68px;
}

#user-menu{
	right: 0px;
	width: 260px;
}

#user-menu label{
	display: block;
	color: white;
	margin: 5px 0px;
}

#user-menu input{
	display: block;
	width: calc(100% - 30px);
	padding: 8px 15px;
	margin: 10px 0px;
	border-radius: 20px;
	border: none;
	outline: none;
}

/* collection menu */

#collection-menu{
	right:  95px;
}

#collection-menu button{
	width: 100%;
}

.collection-button{
	background-color: #5cbc56;
}

.collection-button:hover{
	background-color: #87cd81;
}

#collection-menu div{
	height: 45px;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	line-height: 45px;
	color: #fff;
	padding-left: 10px;
}

button{
	background-color: rgb(128,128,128);
	text-transform: uppercase;
	border: 0;
	padding: 7px 25px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
	font-family: 'RobotoCondensed', 'Arial','sans';
	font-size: 14px;
	margin-top: 10px;
	margin-bottom: 10px;
	outline: none;
	cursor: pointer;
}

button:hover{
	background-color: rgb(170,170,170);
}



#user-menu .error,#user-menu li{
	color: #dd3749;
	padding: 5px;
	border-bottom: 2px solid #dd3749;
	margin-bottom: 10px;
}

#user-menu h2{
	color: white;
}

#user-menu h3{
	color: white;
}

#user-menu a {
	opacity: 0.8;
	padding: 5px 0px;
	display: inline-block;
	cursor: pointer;
	float: right;
	margin-right: 10px;
}

#signup{
	float: right;
	line-height: 15px;
	margin-right: 10px;
	margin-top: 15px;
}

#user-menu a:hover{
	opacity: 1.0;
}


::-webkit-input-placeholder { /* WebKit browsers */
	color:    rgba(255,255,255,0.8);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    rgba(255,255,255,0.8);
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    rgba(255,255,255,0.8);
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    rgba(255,255,255,0.8);
}

#help .assets ul{
	display: block;
}

#help .assets li{
	float: left;
	margin: 30px 35px;
	opacity: 1.0;
}

#help .assets li:hover{
	opacity: 0.8;
}

/* BUTTONS */

button.ok{
	background-color: #5cbc56;
}

button.ok:hover{
	background-color: #87cd81;
}

button.delete{
	background-color: #dd3749;
}

button.delete:hover{
	background-color: #e25363;
}

/* POPUP */



#popup{
	position: fixed;
	background-color: #000;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
	left: 50%;
	top: 50%;
	width: 600px;
	margin-left: -300px;
	height: 400px;
	margin-top: -200px;
	border-radius: 2px;
	color: #fff;
	display: none;
	z-index: 999;
}

#popup .body{
	padding: 10px 20px;
}

#popup .buttons{
	display:block;
	position: absolute;
	width: calc(100% - 40px);
	margin: 20px;
	padding-top: 10px;
	bottom: 0px;
	text-align: right;
	border-top: 1px solid rgba(255,255,255,0.3);
}

#popup button{
	margin-left: 5px;
	margin-right: 10px;	
	min-width: 110px;
}

#popup textarea{
width: calc(100% - 45px);
min-height: 65px;
border-radius: 10px;
padding: 6px 10px;
outline: none;
font-family: sans-serif;
}

#popup .title{
	padding: 15px 20px;
}

#popup label{
	display: block;
	margin-bottom: 5px;
}

#popup input[type="text"]{
	width: calc(100% - 40px);
	padding: 10px;
	border-radius: 20px;
	border: none;
	margin-bottom: 10px;
}

#popup input[type="checkbox"]{
	width: 20px;
	height: 20px;
	padding:10px;
}

#popup input{
	outline: none;
}

#popup select{
  min-width: 90%;
  padding: 5px;
}

/* password request */
#user-new-password{
	margin-left: 20px;
}

#user-new-password div{
	display: inline-block;
}
#user-new-password label{
	color: white;
	margin-right: 20px;
}

#user-new-password button{
	margin-left: 20px;
}

#user-new-password input{
	padding: 10px;
	border-radius: 20px;
	border: 0;
	outline: 0;
}

.user-new-password #user-button{
	display: none;
}

