/*
	MAIN
	*/


	/* Let's get this party started */
	::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		margin-right: 30px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(1,1,1,0.8);
		background-color: #ffffff;
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(1,1,1,0.5);
	}
/*
	ROW / ENTITIES
	*/

	.h{
		display: none !important;
	}

	.entities{
		overflow: hidden;
	}

	.entities.loading{
		min-height: 237px !important;
	}

	.loading_white, .loading{
		background-image: url('../img/loader.gif');
		background-repeat: no-repeat;
		background-position: center center;
	}

	.loading_white{
		background-image: url('../img/loader_white.gif');
	}

	.entities.loading{
		min-height: 150px;
	}

	.scroller{
		width: 99999999999px;
		position: relative;
		left: 0px;
	}

	.scroller.ui-state-disabled{
		opacity: 1;
		filter: Alpha(Opacity=100);
	}

	.noresults{
		text-align: center;
		color: #fff;
		line-height: 100px;
	}

	.scrollButton{
		display:none;
		background-color: rgba(0,0,0,0.8);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 18px;
		position: fixed;
		left: 0px;
		width: 70px;
		height: 35px;
	}

	#scrollup-button{
		background-image: url('../img/arrow-up.png');
		top: 45px;
		background-position: center 55%;
		border-top-width: 3px;
		border-top-style: solid;
	}

	.touch-support #scrollup-button{
		top: 68px;
	}

	#scrollup-button:hover{
		background-color: rgba(0,0,0,1);
	}

	#scrolldown-button{
		background-image: url('../img/arrow-down.png');
		top: 82px;
		border-bottom-width: 3px;
		border-bottom-style: solid;

	}

	.touch-support #scrolldown-button{
		top: 105px;
	}

	#scrolldown-button:hover{
		background-color: rgba(0,0,0,1);
	}

	#scrolldown-button.border-None,#scrollup-button.border-None{
		opacity: 0.5;
		-webkit-transition:opacity 0.3s ease;
	}


/*
	TIMELINE
	*/

	.timeline{
		vertical-align: bottom;
		height: 30px;
		position: relative;
		color: #fff;
		background-color: rgba(0,0,0,0.2);
		border-bottom: 1px solid rgba(0,0,0,0.3);
	}

	.timeline canvas{
		width: 100%;
		height: 100%;
	}

	.timeline .startlabel{
		position: absolute;
		top: 0px;
		left: 5px;
		vertical-align: middle;
		line-height: 30px;
	}

	.timeline .endlabel{
		position: absolute;
		top: 0px;
		right: 5px;
		line-height: 30px;
	}

	.markers{
		margin-left: 50px;
		margin-right: 50px;
		position: relative;
	}

	.marker{
		z-index:999;
		opacity: 0.8;
		position:absolute;
		top: 5px;
		width: 20px;
		margin-left: -10px;
		height: 20px;
		border-radius: 10px;
	}

	.duration{
		opacity: 0.5;
		position:absolute;
		left: 10px;
		top: 8px;
		height: 4px;
		width: 100px;
	}

/*
	ENTITY
	*/

	.entity{
		display: inline-block;
		vertical-align: top;
		margin-top: 2px;
		/*min-width: 2px !important;*/
	}

	.entity.preloading{
		opacity: 0.75;
	}

	.large .hidden .medium{
		/*height: 409px !important;*/
	}

	.large .hidden .header{
		/*height: 559px !important;*/
	}

	.header{
		position: relative;
		margin: 0px 1px;
		background-color: black; /*#343b45;*/
		display: block !important;

	}

	.entity.focus .header{
		/*height: 400px;*/
	}


	.entity.unfocus{
		opacity: 0.4;
	}

	.entity.unfocus:hover{
		opacity: 0.8;
	}

	.touch-support .entity.unfocus:hover{
		opacity: 0.4;
	}

	/* VISUAL */
	.visual{
		width: 100%;
		height: 100%;
		position:relative;
/*	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;*/
	/*box-shadow: inset 0 0 10px black; */
}

.player{
	position:absolute;
	height: calc(100% - 65px);
}

.visual-holder{
	position:absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


.gesture-pinch .visual-holder{
	/* display: none !important;*/
	/*background-size: 300px !important;*/
}


.player-button{
	position: absolute;
	background-image:url('../img/icon-play.png');
	background-size: 48px;
	width: 48px;
	height: 48px;
	left: 50%;
	top: 50%;
	margin-left: -24px;
	margin-top: -24px;
}

.player-button:hover{
	opacity: 0.7;
}

.current .ghost{
	display: block;
}

.ghost{
	display: none;
	position:absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 20%;
	/* 	-webkit-filter: grayscale(100%) blur(4px); */ /* Cool but slooooow */
	/* 	-webkit-filter: grayscale(100%); */ /* stil too slow :( */
		opacity: 0.1;
	}

	.flippers-holder{
		display:none;
	}

	.flipper{
		display: none;
		position:absolute;
		background-size: 48px;
		background-repeat: no-repeat;
		width: 48px;
		height: 96px;
		margin-top: -48px;
		background-position: center;
		top: 50%;
		opacity: 0.8;
		cursor: pointer;
	}

	.flipper:hover{
		opacity: 1;
	}

	.go-left{
		left: 10px;
		background-image:url('../img/arrow-left.png');
	}

	.go-right{
		right: 10px;
		background-image:url('../img/arrow-right.png');
	}


	.infobar{
		height: 65px; /*bar-height*/
		position: absolute;
		bottom: 0px;
		left: 0px;
		overflow: hidden;
		max-width: 100%;
		text-overflow: clip;
		white-space: nowrap;
		display:none;
	}

	.infobar .icon{
		vertical-align: top;
		display: inline-block;
		width: 50px;
		height: 65px; /*bar-height*/
		background-position: center center;
		background-size: 120%;
		background-repeat: no-repeat;
	}

	.entity-Collection .infobar .icon{
		background-size: 100%;
	}

	.infobar .title{
		vertical-align: top;
		display: inline-block;
		min-width: 200px;
		height: 65px; /*bar-height*/
		background-color: #fff;
		font-size: 16px;
		line-height: 65px; /*bar-height*/
		padding: 0px 10px;
		max-width: calc(100% - 60px);
		text-overflow:clip;
		white-space:nowrap;
		overflow:hidden;
		text-transform: uppercase;
	}

	.infobar .title .r{
		border-radius: 20px;
		min-width: 14px;
		display: inline-block;
		height: 22px;
		margin-top: 21px;
		float: right;
		line-height: 21px;
		text-align: center;
		color: #fff;
		margin-left: 11px;
		font-size: 13px;
		font-weight: bold;
		padding: 0 4px;
		display:none;
	}

	.infobar .buttons{
		vertical-align: bottom;
		display: inline-block;
	}

	.infobar .button{
		display: inline-block;
		background-color: #fff;
		margin-left: 4px;
		width: 45px;
		height: 65px; /*bar-height*/
		line-height: 50px;
		background-position: center center;
		background-size: 32px;
		background-repeat: no-repeat;
		text-align: center;
		vertical-align: bottom;
		cursor: pointer;
	}

	.infobar .button-share{
		background-color: rgba(135,144,148,0.6);
	}

	.infobar .button.inactive{
		opacity: 0.8;
	}

	.infobar .button .count{
		color: #000;
		margin-top: 45px;
		line-height: 20px;
		display: inline-block;
		min-width: 20px;
		font-weight: bold;
	}

	.infobar .button .owner{
		color: #aaa;
	}

	.infobar .button:hover{
		opacity: 0.9;
	}


	.scaler{
		display: none;
		width: 50px;
		height: 50px;
		background-image: url('../img/icon-scaler.png');
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		background-size: cover;
		right: 10px;
		bottom: 10px;
		opacity: 0.8;
		cursor: pointer;
	}

	.scaler:hover{
		opacity: 1;
	}



/*
	FILTERS
	*/

	.filters{
		min-height: 65px; /*bar-height*/
		margin: 0px 1px;
		height: 65px; /*bar-height*/
		overflow: hidden;
		max-width: 100%;
		text-overflow: clip;
		white-space: nowrap;
		display : none;
	}

	.filters.hidden{
		display :none;
	}

	.entity-filters{
		float:right;
		overflow: hidden;
		max-width: 100%;
		height: 65px; /*bar-height*/
		text-overflow: clip;
		white-space: nowrap;
	}

	.entity-filters .button{
		display: inline-block;
		height: 63px;
		width: 55px;
		background-position: center -20%;
		background-size: 90%;
		background-repeat: no-repeat;
		text-align: center;
		font-size: 12px;
		border-left: 1px solid rgba(0,0,0,0.03);
		opacity: 0.5;
		border-bottom-width: 2px;
		border-bottom-style: solid;
		cursor: pointer;
	}

	.entity-filters .button span{
		color: #fff;
		padding: 1px 4px;
	/*border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: rgba(0,0,0,0.05);*/
	margin-top: 41px;
	line-height: 20px;
	display: inline-block;
	min-width: 20px;
	font-weight: bold;
}

.entity-filters .button:hover{
	opacity: 0.9;
	background-color: rgba(0,0,0,0.1);
}

.entity-filters .button.icon-Link{
	border-bottom: 0;
	border-right: 2px solid rgba(0,0,0,0.05);
	border-left: 0;
	padding-right: 15px;
	background-image: none;
}

.entity-filters .button.icon-Link span{
	color: rgba(255,255,255,0.9);
}

.entity-filters .button.icon-Link:hover{
	opacity: 0.5;
	background-color: transparent;
}

.text-filter {
	line-height: 65px; /*bar-height*/
	position: relative;
	float:left;
}

.text-filter input{
	margin-left: 10px;
	vertical-align: middle;
	background-color: transparent;
	border: 1px solid rgba(255,255,255,0.8);
	border-radius: 40px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 10px;
	padding-left: 45px;
	width: 230px;
	outline: 0;
	color: #fff;

	box-sizing: border-box;

	background-image: url('../img/icon-filter.png');
	background-position: 10px center;
	background-repeat: no-repeat;
	background-size: 24px;

	font-family: 'RobotoCondensed', arial, sans;
}

.text-filter input:hover{
	background-color: rgba(255,255,255,0.2);
}

.text-filter .connections{
	display:inline-block;
	line-height: 40px;
	vertical-align:middle;

}

.text-filter .direct,.text-filter .indirect{
	background-repeat: no-repeat;
	padding: 0 25px 0 10px;
	background-position: calc(100% - 5px) center;
	display:inline-block;
	float:left;
	height: 38px;
	color: white;
	cursor: pointer;
	border: 1px solid white;
	border-left: 0;

}

.text-filter .direct:hover,.text-filter .indirect:hover{
	background-color: rgba(255,255,255,0.2);
}

.text-filter .inactive{
	opacity: 0.5;
}
.text-filter .direct{
	background-image: url('../img/icon-direct.png');
	background-size: 9px;
}

.text-filter .indirect{
	background-image: url('../img/icon-indirect.png');
	background-size: 15px;
	padding-right: 30px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.indicator{
	display:none;
	height: 6px;
	margin: 0px 1px;
}

.hidden{
	opacity: 0.4;
}


/*
	CONTENT
	*/

	.content-holder{
		margin: 0px 1px;
		display: none;
	}

	.content{
		background-color: #fff;
		/*min-height: 100px;*/
		display: none;
		padding: 20px;
	}

	.content.loading_white{
		/*height: 100px;*/
	}

	/* DETAILS */

	.content-details button{
		margin-right: 10px;
		margin-top: 0px;
	}


	/* EUROPEANA */

	.content-europeana .notice{
		display :block;
		font-size: 14px;
	}

	.content-europeana .item{
		display: inline-block;
		max-width: 220px;
		padding: 10px;
		vertical-align: top;
		text-align: center;
		border: 1px solid #ddd;
		margin: 10px;
		border-radius: 2px;

	}

	.content-europeana .item .image{
		height: 200px;
		width: 200px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.content-europeana .item span{
		margin-top: 10px;
		display: block;
		vertical-align:bottom;
		text-overflow: ellipsis;
		white-space:nowrap;
		overflow:hidden;
		max-width: 200px;
		color: #252a32;
	}

	.content-europeana .item:hover{
		transform: scale(1.1);
	}

	.content-europeana .item:hover span{
		position: absolute;
		background-color :#fff;
		padding: 10px;
		width: 200px;
		white-space: pre-wrap;
		overflow: visible;
		margin-left: -11px;
		margin-top: 0px;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		border:1px solid #ddd;
		border-top: 0;
	}


/*
	COMMENTS
	*/

	.comments .comment{
		border: 1px solid #ddd;
		padding: 20px;
		border-radius: 10px;
		margin: 10px 0px;
		max-width: 800px;
	}

	.comment .comment-header{
		display: block;
		margin-bottom: 5px;
	}

	.comment .owner{
		font-weight: bold;
	}

	.comment .date{
		color: #aaa;
		float: right;
		margin-left: 10px;
	}

	.voteCount{
	float: right;
	font-weight: bold;
	padding: 10px;
	}

	.likebtn{
	float:right;
	}

	.contribute{
		margin-bottom: 10px;
		border-bottom: 1px solid #aaa;
	}

	.contribute textarea{
		max-width: 800px;
		width: 90%;
		height: 70px;
		border-radius: 10px;
		padding: 10px;
		display: block;
		margin-bottom: 10px;
		outline: none;
	}

	.contribute button{
		margin-bottom: 15px;
		vertical-align: bottom;
	}


	.comment-indicator{
		position: absolute;
		left: 0;
		top: 2px;
		z-index: 999;
		display: block;
		width: 38px;
		max-width: 100%;
		height: 38px;
		background-image: url('../img/icon-comments-white-top.png');
		background-size: contain;
		background-repeat:no-repeat;
		background-position: center top;
	}

/*
	COLLECTIONS
	*/

	.assign{
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #aaa;
	}

	.assign select{
		padding: 10px;
		margin: 0px 10px;
		min-width: 400px;
	}

	.content-collections h1{
		margin: 15px 0px;
		font-size: 1.1em;
		text-transform: uppercase;
	}

	.collections .collection{
		border: 1px solid #ddd;
		padding: 20px;
		border-radius: 10px;
		margin: 10px 0px;
		max-width: 800px;
	}

	.collections .collection button {
		float:right;
		margin-top: -7px;
		margin-bottom: 0px;
		margin-left: 10px;
	}

	/* DETAILS */

	.description{
		max-width: 800px;
		margin-right: 20px;
		margin-bottom: 20px;
		border-top: 1px solid #ddd;
		padding-top: 10px;
		margin-top: 10px;
	}

	.relations{
		margin: 5px;
		float:right;
	}

	.relations span{
		padding: 5px 10px;
		border-radius: 20px;
		color: #fff;
		margin: 0px 5px;
	}

	.sources{
		margin: 5px;
		float:right;
	}

	.sources span{
		padding: 5px 10px;
		border-radius: 20px;
		background-color: #777;
		color: #fff;
		margin: 0px 5px;
		cursor: pointer;
	}

	.sf-toolbar{
		display: none !important;
	}

	.ui-autocomplete{
		z-index:999;
		max-height: 300px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		margin-left: 5px;
		font-size: 0.9em;
	}

	.ui-widget-content .ui-state-focus{
		background: transparent;
		color: #fff;
		border: 0;
		margin:0;
	}

	button.twitter{
		background-color: #33CCFF;
	}

	button.twitter:hover{
		background-color: #62d8ff;
	}
